@import "tailwindcss";

@theme {
  /* Tus colores personalizados */
  --color-psico-dark: #1c3150;
  --color-psico-yellow: #f9bf15;
  --color-psico-light: #f3f4f6;
  --color-psico-blue: #5b9bd5;
  --color-psico-orange: #f27a22;
  --color-psico-white: #ffffff;
}

/* Estilos base para toda tu página */
body {
  background-color: var(--color-psico-light);
  color: var(--color-psico-dark);
}
